*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-border{
  border-top: 4px solid black; border-bottom: 4px solid black;
}
.list-border{
  border: 2px solid ;
}
.pos-width{
  width: 100%;
  position: relative;
  bottom: -0.50rem;
}